@charset "UTF-8";

/* Начало Обнуления */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;

0,400;0,500;0,600;0,700;0,800;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Конец Обнуления */

body {
  font-family: "Open Sans";
  font-size: 18px;
  color: #000;
}

._lock {
  overflow-y: hidden;
}

.main__pages {
  flex: 1 1 auto;
}

.page__banner {
  box-shadow: 0px 2px 5.76px 0.24px rgba(0, 0, 0, 0.12);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 4px 10px;
}

.header__container {
  position: relative;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10px;
}

.header__top a {
  color: #000;
}

.header__top a:hover {
  text-decoration: underline;
}

.header__top > *:not(:last-child) {
  padding: 0 10px 0 0;
}

.header .header-item {
  flex: 1 0 auto;
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 1px;
}

.header__logo {
  margin: -29px 0 0 0;
}

.no-webp .header__buscket::after{
  background: url("../img/header/icons/icon_basket.png") 6px -1px/20px no-repeat; }

.header__buscket::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
}

.header__changeLang ul {
  display: flex;
  justify-content: flex-end;
}

.header__changeLang-active {
  font-weight: 500;
  letter-spacing: 0.5px;
}

.header__changeLang ul > *:not(:last-child) {
  padding: 0 8px 0 0;
}

.header__bottom {
  padding: 28px 10px;
}

.menu__items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu__item {
  margin: 0 -10;
}

.menu__link {
  padding: 0 10px;
  color: #000;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 2px;
}

.menu__link-active {
  font-weight: 400;
  letter-spacing: 1px;
}

.menu__link:hover {
  padding-bottom: 23px;
  border-bottom: 4px solid #3e71c7;
}

.header__shadow {
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.1);
  height: 6px;
  margin: -6px 0 0 0;
}

.banner__slider {
  position: relative;
  min-width: 0;
}

.banner__body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px 0;
  min-width: 0;
}

.banner__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  cursor: pointer;
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: flex;
}

/* Стрелка */

.slick-arrow {
  position: absolute;
  top: 0;
}

/* Стрелка влево */

/* Стрелка вправо */

.slick-arrow.slick-next {
  right: 0;
}

/* Точки (булиты) */

.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
}

/* Активная точка */

.slick-dots li.slick-active button {
  background: #000;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;
}

/* Элемент точки */

.slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;
}

.slick-dots li:not(:last-child) {
  padding: 0 10px 0 0;
}

.title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
}

.products__container {
  padding: 20px 0 60px 0;
}

.products__block {
  display: flex;
}

.block__left {
  flex: 0 1 600px;
}

.cards__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 20px 0;
}

.cards__item {
  margin: 10px;
  width: 270px;
  height: 382px;
  background: #fff;
  box-shadow: 0px 3px 10px 1.8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  transition: all 0.3s ease 0s;
}

.cards__item:hover {
  transform: scale(1.009);
  box-shadow: 0px 6px 15.84px 2.16px rgba(0, 0, 0, 0.2);
}

.item__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 280px;
  border-radius: 12px;
}

.item__img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.item__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(82, 172, 98);
  padding: 10px 0;
  width: 84%;
  border-radius: 16px;
  color: #fff;
  margin: 0 0 40px 0;
  text-align: center;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.item__button:hover {
  transform: scale(1.01);
  box-shadow: 0px 6px 15.84px 2.16px rgba(0, 0, 0, 0.2);
}

.cards__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.right__cards-item {
  position: relative;
  transition: all 0.3s ease 0s;
  border-radius: 12px;
  box-shadow: 0px 3px 10px 1.8px rgba(0, 0, 0, 0.2);
  margin: 5px 0;
}

.right__cards-item:hover {
  transform: scale(1.009);
  box-shadow: 0px 6px 15.84px 2.16px rgba(0, 0, 0, 0.2);
}

.right__item-img {
  overflow: hidden;
  width: 570px;
  height: 790px;
  background: #fff;
  border-radius: 12px;
}

.right__item-img img {
  -o-object-fit: none;
     object-fit: none;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.item__button-right {
  position: absolute;
  bottom: 44px;
  left: 150px;
  background: rgb(82, 172, 98);
  padding: 10px 0;
  width: 240px;
  border-radius: 16px;
  color: #fff;
  text-align: center;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.item__button-right:hover {
  transform: scale(1.01);
  box-shadow: 0px 6px 15.84px 2.16px rgba(0, 0, 0, 0.2);
}

.no-webp .about__bg{
  background: url("../img/main/about/rose_bg.jpg") center/auto no-repeat; }

.about__bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__tille {
  font-size: 100px;
  color: rgb(255, 255, 255);
  font-weight: 900;
  line-height: 1.2;
  padding: 40px 0 0 0;
}

.about__text {
  font-size: 24px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 1.25;
  max-width: 600px;
  padding: 0 0 40px 0;
}

.about__paragraf {
  padding: 20px 0 20px 10px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  line-height: 170%;
  padding: 20px 10px;
}

.footer__top > *:not(last-child) {
  padding: 20px 0;
}

.footer__contacts a {
  color: #000;
  line-height: 150%;
}

.footer__bottom-bg {
  background: #f7f8ff;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 10px;
}

.footer__bottom > *:not(:last-child) {
  padding: 10px 0;
}

.contacts__title {
  text-transform: uppercase;
}

.timework__title {
  text-transform: uppercase;
}

@media (min-width: 961px) {
  .header__burger-bg {
    display: none;
  }
}

@media (max-width: 1164px) {
  .products__block {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 960px) {
  .header__content {
    display: none;
  }

  .page__nav {
    display: none;
  }

  .header__burger-bg {
    font-weight: 300;
  }

  .header .burger__icon-container {
    display: flex;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background: #fff;
    z-index: 2;
    padding: 5px 10px;
  }

  .header .burger__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .header .burger__icon span._active {
    width: 0%;
  }

  .header .burger__icon::before,
  .header .burger__icon::after {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    background: #000;
    transition: all 0.3s ease 0s;
  }

  .header .burger__icon._active::before {
    transform: rotate(-45deg);
    top: 9px;
  }

  .header .burger__icon._active::after {
    transform: rotate(45deg);
    bottom: 9px;
  }

  .header .burger__icon::before {
    top: 0;
  }

  .header .burger__icon::after {
    bottom: 0;
  }

  .header .burger__icon-span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger-logo {
    text-align: center;
  }

  .header__burger {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgb(255, 255, 255);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: -100%;
    transition: all 0.3s ease 0s;
    padding: 80px 0 0 0;
    overflow: auto;
  }

  .header__burger._active {
    top: 0;
  }

  .header .header__burger-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 30px 0 0;
  }

  .header .header__burger-body > *:not(:last-child):hover {
    text-decoration: underline;
  }

  .header .header__burger-body a {
    color: #000;
  }

  .header .header__burger-body > *:not(:last-child) {
    padding: 0 0 38px 0;
  }

  .header .header__burger-changeLang ul {
    display: flex;
  }

  .header .header__burger-changeLang ul li:not(:last-child) {
    padding: 0 4px 0 0;
  }

  .header .header__burger-changeLang ul li:hover {
    text-decoration: underline;
  }

  .menu__burger-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 170px;
  }

  .menu__burger-item {
    transition: all 0.3s ease 0s;
  }

  .menu__burger-item:hover {
    border-left: 4px solid #3e71c7;
    padding: 0 0 0 4px;
  }

  .menu__burger-item:not(:last-child) {
    margin: 0 0 16px 0;
  }

  .menu__burger-link {
    color: #000;
  }
}

@media (max-width: 960px) and (max-width: 430px) {
  .header .header__burger-body > *:not(:last-child) {
    padding: 0 0 18px 0;
  }
}

@media (max-width: 670px) {
  .banner__body {
    flex-wrap: wrap;
  }
}

@media (max-width: 583px) {
  .block__right {
    margin: -16px 0 0 0;
  }

  .right__cards-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 270px;
    height: 382px;
  }

  .right__item-img {
    width: 270px;
    height: 280px;
    background: #fff;
    border-radius: 12px;
  }

  .right__item-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }

  .item__button-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 0;
    margin: 0 0 40px 0;
  }
}

@media (max-width: 546px) {
  .about__bg {
    padding: 30px 0;
    margin: -30px 0 0 0;
  }
}

@media (max-width: 430px) {
  .header__burger {
    justify-content: flex-start;
    padding: 80px 0 0 20px;
  }

  .header__burger > * {
    margin: 0 0 20px 0;
  }

  .header__burger > *:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .header__burger-body > *:not(:last-child) {
    padding: 0 0 10px 0;
  }
}

.webp .header__buscket::after{ background: url(../img/header/icons/icon_basket.webp) 6px -1px/20px no-repeat; }

.webp .about__bg{ background: url(../img/main/about/rose_bg.webp) center/auto no-repeat; }